
* {
    transition: background-color 300ms ease, color 300ms ease;
}
*:focus {
    background-color: rgba(221, 72, 20, .2);
    outline: none;
}
:root {
    --main-bg-color: rgb(217, 16, 35);
    --second-color: rgb(255,255,255);
    --primary-font: "Bebas Neue", sans-serif;
  }
html, body {
    color: rgba(33, 37, 41, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

  
header {
    background-color: rgba(247, 248, 249, 1);
    padding: .4rem 0 0;
    font-family: var(--primary-font);
}
.menu {
    padding: .4rem 2rem;
}
header ul {
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
}
header li {
    display: inline-block;
}
header li a {
    border-radius: 5px;
    color: rgba(0, 0, 0, .5);
    display: block;
    height: 44px;
    text-decoration: none;
}
header li.menu-item a {
    border-radius: 5px;
    margin: 5px 0;
    height: 38px;
    line-height: 36px;
    padding: .4rem .65rem;
    text-align: center;
}
header li.menu-item a:hover,
header li.menu-item a:focus {
    background-color: rgba(221, 72, 20, .2);
    color: rgba(221, 72, 20, 1);
}
header .logo {
    float: left;
    height: 44px;
    padding: .4rem .5rem;
}
header .menu-toggle {
    display: none;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}
header .menu-toggle button {
    background-color: rgba(221, 72, 20, .6);
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font: inherit;
    font-size: 1.3rem;
    height: 36px;
    padding: 0;
    margin: 11px 0;
    overflow: visible;
    width: 40px;
}
header .menu-toggle button:hover,
header .menu-toggle button:focus {
    background-color: var(--main-bg-color);
    color: rgba(255, 255, 255, .8);
}
header .heroe {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
}
header .heroe h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
header .heroe h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.titleWeb{
    font-family: var(--primary-font);
    font-size:250px;
}
.subtitleWeb{
    font-family: var(--primary-font);
    font-size:100px;
}
.fontParagraph{
    font-family: var(--primary-font);

}

.textDescription{
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem;
}
.textoBienvenida{
    font-size: 4rem; /* 36px */
    line-height: 2.5rem;
}

.further {
    background-color: rgba(247, 248, 249, 1);
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    border-top: 1px solid rgba(242, 242, 242, 1);
}
.further h2:first-of-type {
    padding-top: 0;
}
.svg-stroke {
    fill: none;
    stroke: #000;
    stroke-width: 32px;
}
.imageProductsOne{
    background-image: url("https://res.cloudinary.com/de3ujeyub/image/upload/v1731846686/IMG_20241026_130247_hcokgv.jpg");
}
.imageProductsTwo{
    background-image: url("https://res.cloudinary.com/de3ujeyub/image/upload/v1731846688/IMG_20241026_132138_wstgfd.jpg"); 
}
footer {
    background-color: rgba(221, 72, 20, .8);
    text-align: center;
}
footer .environment {
    color: rgba(255, 255, 255, 1);
    padding: 2rem 1.75rem;
}
footer .copyrights {
    background-color: rgba(62, 62, 62, 1);
    color: rgba(200, 200, 200, 1);
    padding: .25rem 1.75rem;
}
@media (max-width: 541px) {
    header ul {
        padding: 0;
    }
    header .menu-toggle {
        padding: 0 1rem;
    }
    header .menu-toggle {
        display: block;
    }
    header .hidden {
        display: none;
    }

    .titleWeb{
        font-family: var(--primary-font);
        font-size:100px;
    }
    .subtitleWeb{
        font-family: var(--primary-font);
        font-size:40px;
    }
    .textDescription, .textTitle{
        font-size: 1.5rem; /* 36px */
        line-height: 2.25rem;
    }
    .textoBienvenida{
        font-size: 2rem; /* 36px */
        line-height: 2.25rem;
    }
    .imageProductsOne{
        background-image: none;
        background-color:#c53030;
        color: white;
        padding: 10px;
    }
    .imageProductsTwo{
        background-image: none;
        background-color:#c53030;
        color: white;
        padding: 10px;
    }
}
@media (min-width: 540px) and (max-width: 889px) {

    .titleWeb{
        font-family: var(--primary-font);
        font-size:125px;
    }
    .subtitleWeb{
        font-family: var(--primary-font);
        font-size:80px;
    }
    .textDescription, .textTitle{
        font-size: 1.2rem; /* 36px */
        line-height: 2.25rem;
    }
    .textoBienvenida{
        font-size: 2rem; /* 36px */
        line-height: 2.25rem;
    }
    .imageProductsOne{
        background-image: none;
        background-color:#c53030;
        color: white;
        padding: 10px;
    }
    .imageProductsTwo{
        background-image: none;
        background-color:#c53030;
        color: white;
        padding: 10px;
    }
}
@media (min-width: 890px) and (max-width: 1200px) {

    .titleWeb{
        font-family: var(--primary-font);
        font-size:150px;
    }
    .subtitleWeb{
        font-family: var(--primary-font);
        font-size:80px;
    }

    .textDescription, .textTitle{
        font-size: 1.5rem; /* 36px */
        line-height: 2.25rem;
    }
    .textoBienvenida{
        font-size: 2rem; /* 36px */
        line-height: 2.25rem;
    }
    
}
@media (min-width: 1201px) and (max-width: 1446px) {

    .titleWeb{
        font-family: var(--primary-font);
        font-size:150px;
    }
    .subtitleWeb{
        font-family: var(--primary-font);
        font-size:80px;
    }

    .textDescription{
        font-size: 2rem; /* 36px */
        line-height: 2.25rem;
    }
    .textoBienvenida{
        font-size: 2.5rem; /* 36px */
        line-height: 2.25rem;
    }
}